@using FreshShop.ViewModels.Catalog.Product
@using FreshShop.ViewModels.Common
@model PagedResult<ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section script{ 

    <script src="~/jsControllers/productController.js"></script>
}

<!-- Page-header start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Danh sách sản phẩm</h5>
                    <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/Home/Index"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Product/Index">User</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Product/Index">Index</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <!-- Hover table card start -->
                <div class="card">
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                            @TempData["AlertMessage"]
                        </div>

                    }
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-primary" href="/Product/Create">Thêm mới</a>                               
                            </div>
                            <div class="col-md-6">
                                <form class="form-group" asp-action="Index" asp-controller="Product" method="get">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input class="form-control" name="keyword" value="@ViewBag.Keyword" placeholder="Tìm kiếm..." />
                                        </div>
                                        <div class="col-md-4">
                                            <select name="categoryId" class="custom-select" onchange="this.form.submit()" asp-items="@ViewBag.Categories">
                                                <option>--Chọn danh mục--</option>
                                            </select>
                                        </div>
                                        <div style="display:inline-block">
                                            <button type="submit" class="btn-sm btn-primary">Tìm kiếm</button>
                                            <button type="button" class="btn-sm btn-primary" onclick="window.location.href='/Product/Index'">Đặt lại</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Danh mục</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Đơn vị tính</th>
                                        <th>Kho</th>
                                        <th>Đã bán</th>
                                        <th>Giá nhập</th>
                                        <th>Giá bán</th>                                                                               
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    @{
                                        foreach (var item in Model.Items)
                                        {
                                            <tr>
                                                <td>@item.CategoryName</td>
                                                <td>@item.Name</td>
                                                <td>@item.Unit</td>
                                                <td>@item.Stock</td>
                                                <td>@item.Sold</td>
                                                <td>@item.OriginalPrice</td>
                                                <td>@item.Price</td>                                                                                          
                                                <td>
                                                    @Html.ActionLink("Cập nhật", "Update", "Product", new { id = item.ID }) |
                                                    @Html.ActionLink("Chi tiết", "Detail", "Product", new { id = item.ID }) |
                                                    @Html.ActionLink("Giảm giá", "Create", "Promotion", new { id = item.ID }) |
                                                    <a href="#" class="product-link-delete" data-id="@item.ID">Xóa</a> |
                                                </td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!--Pagination-->
                        @await Component.InvokeAsync("Pager", Model)
                    </div>
                </div>
                <!-- Hover table card end -->
            </div>
            <!-- Page-body end -->
        </div>
    </div>
    <!-- Main-body end -->

</div>

