

@model FreshShop.ViewModels.Common.PagedResultBase

@{
    var urlTemplate = Url.Action() + "?pageIndex={0}";
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "pageIndex")
        {
            continue;
        }
        if (request.Query[key].Count > 1)
        {
            foreach (var item in (string[])request.Query[key])
            {
                urlTemplate += "&" + key + "=" + item;
            }
        }
        else
        {
            urlTemplate += "&" + key + "=" + request.Query[key];
        }
    }

    var pageDisplay = 5;

    var startIndex = Model.PageIndex - (int)pageDisplay / 2;
    var finishIndex = Model.PageIndex + (int)pageDisplay / 2;

    if (startIndex <= 0)
    {
        finishIndex -= (startIndex - 1);
        startIndex = 1;
    }
    if (finishIndex > Model.PageCount)
    {
        finishIndex = Model.PageCount;
        if (finishIndex > pageDisplay)
        {
            startIndex = finishIndex - (pageDisplay - 1);
        }
    }


}


@if (Model.PageCount > 1)
{
    <ul class="pagination justify-content-center">
        @if (Model.PageIndex > startIndex)
        {
            <li class="page-item">
                <a class="page-item-link" href="@urlTemplate.Replace("{0}","1")" title="1">Đầu</a>
            </li>
            <li class="page-item">
                <a class="page-item-link" href="@urlTemplate.Replace("{0}",(Model.PageIndex-1).ToString())">Trước</a>
            </li>

        }
        @for (var i = startIndex; i <= finishIndex; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class="page-item">
                    <a href="#" class="page-item-link active">@i<span class="sr-only">(current)</span></a>
                </li>

            }
            else
            {

                <li class="page-item">
                    <a href="@urlTemplate.Replace("{0}",i.ToString())" title="Trang @i.ToString()" class="page-item-link">@i.ToString()</a>
                </li>

            }
        }
        @if (Model.PageIndex != finishIndex)
        {
            <li class="page-item">
                <a href="@urlTemplate.Replace("{0}",(Model.PageIndex+1).ToString())" class="page-item-link">Sau</a>
            </li>
            <li class="page-item">
                <a href="@urlTemplate.Replace("{0}",Model.PageCount.ToString())" title="@Model.PageCount.ToString()" class="page-item-link">Cuối</a>
            </li>

        }
    </ul>
}

